# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.staging
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/*.db

# Docker
docker-data/

# Misc
tmp/
temp/
